.booking {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #1A1A1A;
}

.booking__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.booking__title {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 48px;
}

.booking__form {}

.booking__fieldset {}

.booking__fieldset_user-info {
  margin-bottom: 48px;
}

.booking__legend {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 20px;
}

.booking__input-group {
  display: flex;
  gap: 8px;
}

.booking__input {
  display: block;
  max-width: 380px;
  height: 44px;
}

.booking__input_fullname {}

.booking__input_phone {}

.booking__input_ticket {}

.booking__fieldset_comedians {
  margin-bottom: 120px;
}

.booking__comedians-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__comedian {
  display: flex;
  align-items: center;
  gap: 8px;
}

.booking__select {}

.booking__select_comedian {
  margin-right: 8px;
}

.booking__select_time {
  margin-right: 16px;
}

.booking__hall {}

.booking__button {
  font-size: 18px;
  line-height: 1.4;
  padding: 16px 36px;
  border-radius: 36px;
  background-color: #FFC119;
  color: #1A1A1A;
}

.booking__button_submit {}