.booking {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #EBECF1;
  color: #1A1A1A;
  padding: 40px 0;
}

.booking__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

.booking__title {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 48px;
}

.booking__fieldset_user-info {
  margin-bottom: 48px;
}

.booking__legend {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 20px;
}

.booking__input-group {
  display: flex;
  gap: 8px;
}

.booking__input {
  display: block;
  max-width: 380px;
  width: 100%;
  height: 44px;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 8px;
  background: #FFF;
  color: #1A1A1A;
  border: 1px solid transparent;
  padding: 0 16px;
}

.booking__input:placeholder {
  color: #BABABA;
}

.booking__input:hover {
  background-color: #F9F9F9;
}

.booking__input:focus {
  outline: none;
  border-color: #BCBCBC;
}

.booking__input_valid {
  border-color: #00992B;
}

.booking__input_invalid {
  border-color: #900;
}

.booking__fieldset_comedians {
  margin-bottom: 120px;
}

.booking__comedians-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__comedian {
  display: flex;
  align-items: center;
}

.booking__select {
  width: 100%;
  height: 44px;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 8px;
  color: #1A1A1A;
  border: 1px solid transparent;
  margin-right: 8px;
}

.booking__select_comedian {
  max-width: 380px;
}

.booking__select_time {
  max-width: 184px;
  margin-right: 16px;
}

.booking__button {
  font-size: 18px;
  line-height: 1.4;
  padding: 16px 36px;
  border-radius: 36px;
  background-color: #FFC119;
  color: #1A1A1A;
}

.booking__hall {
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.4;
  padding-right: 32px;
  background: url('../Img/gg_qr.svg') right/24px no-repeat;
}

@media (max-width: 1024px) {
  .booking__container {
    padding: 0 60px;
  }

  .booking__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .booking__fieldset_user-info {
    margin-bottom: 40px;
  }

  .booking__fieldset_comedians {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .booking__input-group {
    flex-direction: column;
  }

  .booking__input {
    max-width: none;
  }
}

@media (max-width: 680px) {
  .booking__container {
    padding: 0 16px;
  }

  .booking__title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .booking__comedian {
    flex-wrap: wrap;
  }

  .booking__select_comedian {
    max-width: none;
    margin-right: 0;
    margin-bottom: 8px;
  }
}