.event {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  /* display: none; */
}

.event__title {
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 48px;
}

.event__info {
  display: flex;
  gap: 80px;
  margin-bottom: 62px;
}

.event__info-item {
  font-size: 30px;
  line-height: 2.08;
  display: flex;
  gap: 8px;
  align-items: end;
}

.event__info-number {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
}

.event__button {
  font-size: 24px;
  line-height: 1.4;
}

.event__button_reserve {
  padding: 16px 36px;
  border-radius: 36px;
  background-color: #FFC119;
  color: #1A1A1A;
  margin-bottom: 24px;
}

.event__button_edit {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}