.event {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 80px 28px 80px;
  transition: opacity .4s, visibility .4s;
  opacity: 1;
  visibility: visible;
}

.event_hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.event__title {
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 48px;
}

.event__info {
  display: flex;
  gap: 80px;
  margin-bottom: 62px;
}

.event__info-item {
  font-size: 30px;
  line-height: 1.4;
}

.event__info-number {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
  margin-right: 4px;
}

.event__button {
  font-size: 24px;
  line-height: 1.4;
  opacity: 1;
  visibility: visible;
}

.event__button_hidden {
  opacity: 0;
  visibility: hidden;
}

.event__button_reserve {
  padding: 16px 36px;
  border-radius: 36px;
  background-color: #FFC119;
  color: #1A1A1A;
  margin-bottom: 24px;
}

.event__button_edit {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .event__title {
    font-size: 70px;
    margin-bottom: 40px;
  }

  .event__info {
    gap: 48px;
    margin-bottom: 44px;
  }

  .event__info-item {
    font-size: 24px;
  }

  .event__info-number {
    font-size: 50px;
  }

  .event__button_reserve {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .event {
    padding: 80px 16px 60px;
  }

  .event__title {
    font-size: 38px;
    margin-bottom: 8px;
  }

  .event__info {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 8px;
    margin-bottom: 28px;
  }

  .event__button_reserve {
    margin-top: auto;
  }
}