.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  inset: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_show {
  display: flex;
}

.modal__content {
  position: relative;
  padding: 28px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #888;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #888;
}

.modal__close:hover,
.modal__close:focus {
  color: #000;
}